[user]
  email = wcarhart@sandiego.edu
  name = Will Carhart

[alias]
  a = !git add . && git status
  aa = !git add . && git add -u . && git status
  ac = !git add . && git commit
  acm = !git add . && git commit -m
  m = !git add -A && git commit -m
  au = !git add -u . && git status
  c = commit
  ca = commit amend
  cm = commit -m
  co = checkout
  d = diff
  l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  last = log -1 HEAD
  lg = log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  llg = log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%an>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
  master = checkout master
  s = status
  spull = svn rebase
  spush = svn dcommit
  unstage = reset HEAD -
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  b = branch
  cb = checkout -b
  discard = !git clean -df && git checkout --

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[push]
  default = simple

[core]
  editor = subl -n -w
  ignorecase = false
